#add-book-text{
    color: black;
    font-size: clamp(1.0rem, 2vw, 1.5rem); 
    transition: transform 0.2s;
}

.library-part .add-book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.library-part .add-book-item input, .library-part .add-book-item select{
    width: 100%;
    padding: 12px 10px 12px 10px;
    font-size: 16px;
    border: 1px solid #343333;
    background: transparent;
    box-sizing: border-box;
    color: black;
    z-index: 2;
}

.library-part .add-book-item select {
  width: 229px;
}

.library-part .add-book-item{
    position: relative;
    margin-bottom: 20px;
}

.library-part .add-book-item label{
  position: absolute;
  left: 10px;
  top: 12px;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: 0 4px;
  z-index: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.library-part .add-book-item select:focus{
    background-color: white;
}


.add-book-item input:focus + label,
.add-book-item input:not(:placeholder-shown) + label,
.add-book-item select:focus + label,
.add-book-item select:not(:placeholder-shown) + label{
    top: -10px;
    left: 8px;
    font-size: 16px;
    color: black;
    background: white;
    z-index: 3;
}

.errorlist {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    list-style: none;
    padding-left: 5px;
}

.error-message{
  background-color: orangered;
  color: white;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid darkred;
  border-radius: 4px;
  font-size: 18px;
  transition: opacity 5s ease-in-out;
}

.error-message.hide {
  opacity: 0;
}

.add-book-form button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    :hover{
        cursor: pointer;
    }
}



.library-part .new-book-button-div{
  margin-left: auto;
  margin-top: 20px;
    :hover{
        cursor: pointer;
    }
}

.new-book-button{
    background-color: green;
    padding: 10px;
    border: 1px solid black; 
}
/* -------------------------------------------------------  NEW BOOK FORM  end*/

main{
  background-color: white;
}

.library-main{
  background-color: white;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    flex: 1;
    min-height: calc(100vh-20vh);
}


.vertical-line {
  width: 3px;              
  background-color: black;
}

.filter-part {
  min-width: 100px;
  max-width: 250px;
  padding: 10px;
  top: 10vh;
}

.library-part {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.library-top-bar {
  display: flex;
  align-items: center;
  width: 100%;
}



/* ------------------------------- BOOKS SECTION */


.book-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f9f9f9; 
  border-radius: 8px;
}

.book-item p{
  text-align: center;
}

.book-item img{
  width: 160px;
  height: 240px;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.book-item img:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.book-item a {
  color: black;   
}

.books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  /* background-color: lightblue; */
}


#availability{
  color: orangered;
}

#title{
  margin-top: 3px;
  font-size: clamp(0.9rem, 2vw, 1.1rem); 
}

#author{
  font-size: clamp(0.7rem, 2vw, 0.9rem); 
}


/* ---------------------------------------------------- FILTER SECTION */
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
}

.dropdown-btn:hover{
  cursor: pointer;
}

.drop-content{
  display: flex;
  flex-direction: column;
  font-size: clamp(0.9rem, 2vw, 1.2rem); 
}



#filter-form{
  display: flex;
  flex-direction: column;
  font-size: clamp(1.0rem, 2vw, 1.4rem); 
  gap: 35px;
}

.genre select{
  padding: 5px;
  width: 100%;
}

.genre .first-label{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.availability{
  display: flex;
  flex-direction: column;
}

.availability .first-label {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.author .first-label{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}


#filter-form button{
  padding: 5px 19px;
}

.btn-secondary{
  background-color: lightgray;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: clamp(0.8rem, 2vw, 1.2rem); 
  color: black;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

.filter-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* ---------------------top-button */

.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  display: none; /* hidden by default */
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-top-btn:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.scroll-top-btn:hover {
  background-color: #555;
}

@media (min-width: 1200px) {
  .scroll-top-btn {
    right: calc((100vw - 1200px) / 2 - 30px);
  }
}

/* -------------------------------------------- PAGINATION */
.pagination{
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.step-links{
  border: #343333 solid 1px;
  border-radius: 12px;
  padding-left: 15px;
  padding: 10px;
  width: 40%;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
}

.page_btn{
  color: black;
  font-size: 32px;
}

/* --------------------------  MEDIA */

@media(min-width: 2900px){
  .library-main{
    width: 35%;
  }
}

@media(min-width: 2200px){
  .library-main{
    width: 45%;
  }
}

@media(max-width: 1254px){
  .library-main{
    width: 80%;
  }
}


@media(max-width: 986px){
  .library-main{
    width: 90%;
  }
  .books{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .book-item img{
  width: 140px;
  height: 200px;
  }
}

@media (max-width: 686px){
  .vertical-line, .new-book-button-div{
    display: none;
  }

  .library-main{
    width: 100%;
    flex-direction: column;
  }
  .filter-part, #filter-form{
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .filter-part{
    justify-content: center; 
    align-items: center;
  }
  .filter-part h1{
    display: none;
  }
}

@media (max-width: 480px) {
  .books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  .book-item img{
  width: 120px;
  height: 170px;
  }

  .filter-buttons{
    flex-direction: column;
  }
}


/* -------------------------------------------- */



/* ----------------------------------------------------------------------------------------------- BOOK_PAGE */



