{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Community library website to explore, borrow, and enjoy books.">
        <meta name="keywords"
              content="library, books, borrow, community library, reading">
        <title>
            {% block title %}
                Open Shelf
            {% endblock title %}
        </title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <a href="{% url 'library' %}" class="nav-item">
                    <div class="logo-section">
                        <svg xmlns="http://www.w3.org/2000/svg" class="library-icon" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m16 6 4 14"></path>
                            <path d="M12 6v14"></path>
                            <path d="M8 8v12"></path>
                            <path d="M4 4v16"></path>
                        </svg>
                        <div class="logo-text"><p>Open Shelf</p>
                        <p><span class="logo-subtext">Your gateway to knowledge</span></p></div>
                    </div>
                </a>
                {% if user.is_authenticated %}
                <div class="logout-section">
                    <div class="user-info">
                        <span class="user-name">{{ user.first_name }} {{ user.last_name }}</span>
                        <span class="user-email">{{ user.email }}</span>
                    </div>
                    <button class="custom-button" onclick="window.location.href='{% url 'logout' %}'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="custom-icon">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                            <polyline points="16 17 21 12 16 7"></polyline>
                            <line x1="21" y1="12" x2="9" y2="12"></line>
                        </svg>
                        <p class="logout-text">
                          Logout
                        </p>
                    </button>
                </div>    
                {% else %}
                    <a href="{% url 'login' %}">
                        <p class="nav-item">Login</p>
                    </a>
                    {% comment %} <a href="{% url 'register' %}">
                        <p class="nav-item">Register</p>
                    </a> {% endcomment %}
                {% endif %}
            </nav>
        </header>
        <main>
            {% block body %}
            {% endblock body %}
        </main>
        <footer>
            <p class="footer-item">
                made by <span>finyak4</span>
            </p>
        </footer>
        <script src="{% static 'layout.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </body>
</html>
